:root {
    // Fonts
    --bs-font-sans-serif: 'Encode Sans SC', sans-serif;
    --raleway: font-family: 'Encode Sans SC', sans-serif;
    --roboto: 'Encode Sans SC', sans-serif;
    // Colors
    --darkgray: #1D1D1A;
    --gray: #707070;
    --gray-alpha: #7070702B;
    --orange: #FA9B26;
    --blue: #199EE3;
    --darkblue: #1371a0;
    --green: #0DC143;
    --darkpink: #D4499A;
    --darkpink-alpha: #D4499A2B;
}  