.header {
    &__headband {
        background-color: #354B9C;
        font-family: var(--raleway);
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        white-space: nowrap;
        &-item {
            & > a { color: #fff; 
                margin-right: 15px;
                margin-left: 15px;
            }

            &:hover {
                color: #fff;
                background: #00AFEF;
            }
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        &-networks {
            border-left: 1px solid var(--gray);
            padding-left: 20px;
            display: inline-flex;
            &>div {
                margin-top: auto;
                padding: 0px;
                margin-right: 3px;
                margin-bottom: auto;
                
                &a {
                    
                    &img {



                    }
                }
            }
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &__navbar {
        border-bottom: 2px solid #354B9C;
        background-color: #FFF;
        position: -webkit-sticky;
        position: -moz-sticky;
        position: -o-sticky;
        position: -ms-sticky;
        position: sticky;        
        top: 0;
        z-index: 110;
        &-collapse {
            // overflow: hidden;
            display: flex;
            justify-content: flex-end;
            @include media-breakpoint-down(md) {
                display: none;
            }
        }
        &-item {
           
            text-transform: uppercase;
            margin: 0 10px;
            text-decoration: none;
            display: flex;
            align-items: center;
            border-bottom: 4px solid transparent;
            &:hover {
                color: var(--gray);
                border-bottom: 4px solid #00AFEF;
            }
            .active {
                font-weight: 600;
                border-bottom: 4px solid #00AFEF;
            }
            &--no-hover {
                &:hover {
                    border-bottom: 4px solid transparent;
                }
            }
        }
        &-user {
            cursor: pointer;
            color: #354B9C;
            user-select: none;
        }
    }
}